<div class="container">
<h1>{{title}}</h1>
  <h2>{{hero.name}} details!</h2>
  <div>
      <label>id: </label>{{hero.id}}
  </div>
  <div class="input-group input-group-large">
    <span class="input-group-addon" id="sizing-addon1">Hero Name: </span>
    <input type="text" class="form-control" [(ngModel)]="hero.name" placeholder="Name" aria-describedby="sizing-addon1">
  </div>
  <h2>My Heroes</h2>
  <div class="heroes list-group">
    <button type="button" class="list-group-item" *ngFor="let hero of heroes">
      <span class="badge">{{hero.id}}</span> {{hero.name}} -- {{hero.name}}
    </button>
  </div>
</div>